@font-face{font-family:'Showcase Cinzel';src:url('/fonts/showcase/cinzeldecorative/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Medieval';src:url('/fonts/showcase/medievalsharp/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Uncial';src:url('/fonts/showcase/uncialantiqua/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Pirata';src:url('/fonts/showcase/pirataone/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Almendra';src:url('/fonts/showcase/almendra/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Fell';src:url('/fonts/showcase/imfellenglish/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Lato';src:url('/fonts/showcase/lato/font.ttf') format('truetype');font-display:block}
@font-face{font-family:'Showcase Lora';src:url('/fonts/showcase/lora/font.ttf') format('truetype');font-display:block;font-weight:400 700}
@font-face{font-family:'Showcase Open Sans';src:url('/fonts/showcase/opensans/font.ttf') format('truetype');font-display:block;font-weight:400 700}
